<% @tweets.each do |tweet| %>
  <hr />
  <div class="tweet">
    <%= image_tag tweet.user.profile_image_url_https(:reasonably_small).to_s, height: 48, width: 48 %>
    <div class="tweet-text">
      <a href="/<%= tweet.user.screen_name %>" class="author"><%= tweet.user.screen_name %></a>
      <%= format_tweet(tweet.as_json) %>
    </div>
  </div>
<% end %>

<% if @tweets.length > 0 %>
  <script>
    if (!window.FIRST_TWEET_ID || <%= @tweets.first.id %> > window.FIRST_TWEET_ID) {
      window.FIRST_TWEET_ID = <%= @tweets.first.id %>;
    }
    if (!window.LAST_TWEET_ID || <%= @tweets.last.id %> < window.LAST_TWEET_ID) {
      window.LAST_TWEET_ID = <%= @tweets.last.id %>;
    }
  </script>
<% end %>