<% @tweets.each do |tweet| %>
  <hr />
  <div class="tweet">
    <%= image_tag tweet.user.profile_image_url_https(:reasonably_small).to_s, height: 48, width: 48 %>
    <div class="tweet-text">
      <a href="/<%= tweet.user.screen_name %>" class="author"><%= tweet.user.screen_name %></a>
      <%= format_tweet(tweet.as_json) %>
      <div class="tweet-timestamp">
        <a href="https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>" target="_blank">
        <% if tweet.created_at > 1.day.ago %>
          <%= time_ago_in_words tweet.created_at %> ago</a>
        <% else %>
          <%= tweet.created_at.strftime("%H:%M %b %d" + (tweet.created_at.year != Time.now.year ? ", %Y" : "")) %></a>
        <% end %>
        <% if tweet.in_reply_to_screen_name.length > 0 %>
          <a href="https://twitter.com/<%= tweet.in_reply_to_screen_name %>/status/<%= tweet.in_reply_to_status_id %>" target="_blank">
            in reply to <%= tweet.in_reply_to_screen_name %>
          </a>
        <% end %>

      </div>
    </div>
  </div>
<% end %>

<% if @tweets.length > 0 %>
  <script>
    if (!window.FIRST_TWEET_ID || <%= @tweets.first.id %> > window.FIRST_TWEET_ID) {
      window.FIRST_TWEET_ID = <%= @tweets.first.id %>;
    }
    if (!window.LAST_TWEET_ID || <%= @tweets.last.id %> < window.LAST_TWEET_ID) {
      window.LAST_TWEET_ID = <%= @tweets.last.id %>;
    }
  </script>
<% end %>