<!DOCTYPE html>
<html>
  <head>
    <title>Good Ol' Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
    </style>
  </head>

  <body style="background: #eee;">
    <div class="home-header">
      <div class="home-header-background">
        <div class="home-wrapper">
          <div style="padding: 35px 0 25px 0">
            <div class="columns">
              <a href="/">
                <div class="good-ol" style="color: #FFF">good ol'</div>
                <img width="181px" height="42px" class="logo" src="https://oltwitter.herokuapp.com/assets/twitter-logo-c4ab0db5985e8207a5740a68d0cf8e1c8bd4c67140795c7c20e60a98a39eb093.png" />
              </a>
              <form action="http://twitter.com/search" id="home_search" method="post" style="margin: 13px 0 0 20px">
                <p style="opacity: 0.6;">
                  <input accesskey="/" class="round-left" id="searchform_q" name="q" size="30" tabindex="8" type="text"><input class="submit round-right" id="searchform_submit" name="commit" tabindex="9" type="submit" value="Search">
                </p>
              </form>
            </div>
            <p style="margin: 0; padding-top: 10px; font: bold 18px Arial,Sans-serif; line-height: normal; line-height: 24px; color: #def;">
              The best version of twitter ever
            </p>
          </div>

          <div class="login-overlay">
            <div class="newuser">
              <h2>Old to Twitter?</h2>
              <p>Go back to the nostalgic twitter UI, while still enjoying fresh content</p>
              <p id="signup-btn">
                <a href="/auth/twitter" id="signup-btn">Sign in with Twitter</a>
              </p>
              <p>Oltwitter is an open-source twitter client, with a vintage look on top of twitter API</p>
            </div>
          </div>
        </div>
      </div>
      <div id="trends">
        <div class="inner">
          <marquee behavior="alternate" scrollamount="2" scrolldelay="60">
          <ul class="trendscontent">
            <% 5.times do %>
              <li class="trend-label">Trending topics</li>
              <% @trends.each do |trend| %>
                <li>
                  <a href="http://twitter.com/search?q=<%= trend %>" class="search_link"><%= trend %></a>
                </li>
              <% end %>
            <% end %>
          </ul>
          </marquee>
        </div>
        <span class="fade fade-left">&nbsp;</span><span class="fade fade-right">&nbsp;</span>
      </div>
    </div>

    <div style="background: #FFF; padding: 20px 0 30px 0">
      <div class="home-wrapper">
        <h2 style="font: bold 20px / 24px 'Helvetica Neue',Arial,Sans-serif; color: #333; padding-bottom: 8px">
          Top Tweets
        </h2>

        <div id="timeline" style="width: 720px; overflow-y: hidden; height: 400px">
          <% @tweets.reverse.each do |tweet| %>
            <div>
              <hr />
              <div class="tweet">
                <img src="https://pbs.twimg.com/profile_images/1815202221/just_me3_400x400.jpg" width="48px" height="48px">
                <div class="tweet-text">
                  <a href="/_rchaves_" class="author">@_rchaves_</a>
                  <%= tweet[0].gsub("\n", "<br />").html_safe %>
                  <div class="tweet-timestamp">
                    <a href="https://twitter.com/_rchaves_/status/<%= tweet[1] %>" target="_blank">
                      Jan 29, 2020
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <script>
          var timeline = document.getElementById('timeline');
          var scrollHeight = timeline.scrollHeight;
          timeline.scrollTop = scrollHeight;
          var tweetIndex = timeline.children.length - 3;

          function scrollTimeline() {
            if (tweetIndex == 0) return;
            tweetIndex -= 1;
            var tweet = Array.from(timeline.children)[tweetIndex];
            tweet.style.opacity = 0;
            animateScroll(timeline.scrollTop - tweet.offsetHeight);
          }

          function animateScroll(to) {
            if (timeline.scrollTop >= to) {
              timeline.scrollTop -= 6;
              setTimeout(() => animateScroll(to), 30);
            } else {
              var tweet = Array.from(timeline.children)[tweetIndex];
              opacity = 0;
              animateOpacity(tweet, 1);
            }
          }

          var opacity = 0;
          function animateOpacity(elem, to) {
            if (opacity <= to) {
              opacity += 0.1;
              elem.style.opacity = opacity;
              setTimeout(() => animateOpacity(elem, to), 30);
            }
          }

          setInterval(scrollTimeline, 6000);
        </script>
      </div>
    </div>

    <footer style="width: 100%">
      <div class="home-wrapper">
        <a href="https://twitter.com/_rchaves_/status/1222442456513503232" target="_blank">Why?</a> |
        <a href="https://github.com/rogeriochaves/oltwitter/" target="_blank">Help the development on Github</a> |
        <a href="/_rchaves_">Follow me @_rchaves_</a>
      </div>
    </footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157021369-1"></script>
    <script>
      window['ga-disable-UA-36020159-2'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157021369-1');
    </script>
  </body>
</html>