<main class="content">
  <div class="profile-header">
    <%= image_tag @user.profile_image_url_https(:bigger).to_s, height: 64, width: 64 %>
    <h1><%= @user.name %></h1>
  </div>
  <hr />
  <%= render partial: "timeline" %>
</main>

<aside class="sidebar">
  <%= render partial: "profile_stats", locals: { user: @user.as_json } %>

  <ul class="sidebar-menu">
    <li class="selected"><a href="/<%= @user.screen_name %>" target="_blank">@<%= @user.screen_name %></a></li>
    <li><a href="https://twitter.com/<%= @user.screen_name %>/likes" target="_blank">Favorites</a></li>
  </ul>
</aside>