<!DOCTYPE html>
<html>
  <head>
    <title>Good Ol' Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <a href="/">
        <div class="good-ol">good ol'</div>
        <%= image_tag 'twitter-logo.png', height: '42px', class: 'logo' %>
      </a>
      <div class="arrow-up"></div>
      <div class="columns">
        <%= yield %>
      </div>
    </div>
    <footer class="wrapper">
      <a href="https://twitter.com/_rchaves_/status/1222442456513503232" target="_blank">Why?</a> |
      <a href="https://github.com/rogeriochaves/oltwitter/" target="_blank">Help the development on Github</a> |
      <a href="/_rchaves_">Follow me @_rchaves_</a>
    </footer>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157021369-1"></script>
    <script>
      window['ga-disable-UA-36020159-2'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157021369-1');
    </script>
  </body>
</html>
