<!DOCTYPE html>
<html>
  <head>
    <title>Good Ol' Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <a href="/">
        <div class="good-ol">good ol'</div>
        <%= image_tag 'twitter-logo.png', height: '42px', class: 'logo' %>
      </a>
      <div class="arrow-up"></div>
      <div class="columns">
        <%= yield %>
      </div>
    </div>
    <footer class="wrapper">
      <div>
        <a id="theoldnet-webring-href" href="//webring.theoldnet.com/widget/ed6386e25c598ae848da3e825eba8951/navigate" data-website-id="ed6386e25c598ae848da3e825eba8951"><img src="//webring.theoldnet.com/widget/ed6386e25c598ae848da3e825eba8951/image" alt="Ol'Twitter" border="0"></a><br>
        <font size="-1">
          Proud member of <a href="//webring.theoldnet.com/"><b>TheOldNet</b></a> webring! Check some other cool websites!<br>
          [<a href="//webring.theoldnet.com/member/ed6386e25c598ae848da3e825eba8951/previous/navigate">Previous site</a>] -
          [<a href="//webring.theoldnet.com/member/ed6386e25c598ae848da3e825eba8951/random/navigate">Random site</a>] -
          [<a href="//webring.theoldnet.com/member/ed6386e25c598ae848da3e825eba8951/next/navigate">Next site</a>]
        </font>
        <script type="text/javascript" src="//webring.theoldnet.com/widget/widget.js"></script>
      </div>

      <a href="https://twitter.com/_rchaves_/status/1222442456513503232" target="_blank">Why?</a> |
      <a href="/privacy" target="_blank">Privacy Policy</a> |
      <a href="https://github.com/rogeriochaves/oltwitter/" target="_blank">Help the development on Github</a> |
      <a href="/_rchaves_">Follow me @_rchaves_</a>
    </footer>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157021369-1"></script>
    <script>
      window['ga-disable-UA-36020159-2'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157021369-1');
    </script>
  </body>
</html>
